*{
    box-sizing: border-box;
}
p{
    color:rgb(0, 0, 0);
    text-align: left;
}
h1{
    color:rgb(0, 0, 0);
    text-align: center;
    margin: 1%;
}
h2{
    color:rgb(0, 0, 0);
    text-align: center;
}
h3{
    color:rgb(0, 0, 0);
    text-align: center;
}
.button1 {
    font-size: 130%;
    width: 100%;
    
}
.button2 {
    font-size: 130%;
    width: 100%;
}
.button3 {
    font-size: 130%;
    width: 100%;
    
}

body{
    background-image: url('brickwall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
}

.main_container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.huvud_sida{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100vh;
    height: 98vh;
    right: 25vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px 10px 10px 10px;
}

.secondPage{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 24.6vh;
    height: 98vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px 10px 10px 10px;
}
.loga{
    background-image: url('lucky.png');
    width: 100%;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.menyVal{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 40vh;
    padding: 2.5vh;
}

.kött{
    padding: 10px;

}
.fisk{
    padding: 10px;

}
.vegetariskt{
    padding: 10px;

}

.titel{
    background-color: rgba(128, 128, 128, 0.868);
    width: 100%;
    top:auto;
    
}
.andratitel{
    background-color: rgba(128, 128, 128, 0.868);
    width: 100%;
    top:auto;
}

/*-----------------------------------------*/
.köttBox {
    display:flex;
}
.fiskBox {
    display: none;
}
.vegetariskBox {
    display: none;
}

/*-----------------------------------------*/

.köttBox fiskBox{
    display: none;
}
.fiskBox fiskBox{
    display: flex;
}
.vegetariskBox fiskBox{
    display: none;
}

/*-----------------------------------------*/

.köttBox vegetariskBox{
    display: none;
}
.fiskBox vegetariskBox{
    display: none;
}
.vegetariskBox vegetariskBox{
    display: flex;
}

/*-----------------------------------------*/

@media screen and (max-width:1024px){
    .main_container{
        display:flex;
        flex-direction: column;
    }
    .huvud_sida{
        width: 100%;
        margin: 2%;
        height: fit-content;
    }
    .secondpage{
        margin: 2%;
        height: fit-content;
    }