* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("brickwall.jpg");
}

p {
    padding: 5px;
}

#centrerad {
    width: 1000px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(204, 204, 204, 0.598);

}

#sidhuvud {
    width: 1000px;
    height: 80px;
    background-color: #9cf;
    text-align: center;
    font-size: 50px;
}



#kol1 {
    width: 500px;
    float: right;
    height: 500px;
    margin-top: 10px;
    background-color: #9cf;
    flex: 2;
    margin: 1px;
}

#kol2 {
    width: 300px;
  
    height: 500px;
    margin-top: 10px;
    background-color: #9cf;
    flex: 1;
    margin: 1px;
}
.sidmeny {
   
}


#sidfot {
    background-color: aquamarine;
    text-align: right;
    clear: both;
}